---
layout: page
title: "About"
description: "《你是我的梦想》"
header-img: "img/about-bg.jpg"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container" style="margin-bottom: 100px;">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container" style="margin-bottom: 100px;">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

<h1>About this Blog's develop</h1>
<div class="en post-container" style="margin-bottom: 100px;">
    {% capture blog_dev %}{% include about/blog.md %}{% endcapture %}
    {{ blog_dev | markdownify }}
</div>

{% include leancloud.html %}