<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<div id="gitalk-container"></div>     <script type="text/javascript">
    var gitalk = new Gitalk({

    // gitalk的主要参数
        clientID: '2e5b70de81f1cd22ba1d',
        clientSecret: '8fbf86a669c2c407833bfdc8840d3946ed0691af',
        repo: 'https://blog.jiaolong.space/',
        owner: 'Wang-Jiaolong',
        admin: ['Wang-Jiaolong'],
        id:decodeURI(window.location.pathname),

    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->