{% comment %}
@param {string} word
{% endcomment %}

{% assign flag='y' %}
{% for post in site.wikis %}
{% assign foo = post.title | slice: 0 %}
{% if foo == include.word or post.preWord ==include.word %}

{% if flag == 'y' %}
<div class="wordChar" data-aos="fade-up" data-aos-delay="50" data-aos-offset="0">
	   <a target="_blank" href="https://www.zhihu.com/people/{{ site.zhihu_username }}">
      <span class="fa-stack fa-lg" style="color: #0000007d;;">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa  fa-stack-1x fa-inverse" >{{ include.word }}</i>
      </span>
    </a>
</div>

{% endif %}

{% if post.title != 'template' %}
{% if post.hidden != 'true' %}

<div style="display: flex;justify-content: center;">
    <a href="{{ site.baseurl }}{{ post.url }}" class="list-item container" data-aos="fade-up"
        data-aos-offset="0" data-aos-delay="0">

        <div class="list-item-icon container align-items-center justify-content-center">
            <span class="feather-icon icon-{{post.icon}}" data-aos="fade-right" data-aos-offset="0"
                data-aos-delay="0"></span>
        </div>


        <div class="flex-grow-1">
            <div class="row">
                <div class="col-sm-3">
                    <div class="" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0">
                        <h2 class="list-post-title" style="margin-bottom: 0px;">
                            {{ post.title }}
                        </h2>
                    </div>

                </div>

                <div class="col-sm-9" style="margin-left: 20px;">
                    <div class="" data-aos="fade-up" data-aos-delay="0" data-aos-offset="0"
                        style="width: 500px;">
                        <span class="list-post-description">
                            {{ post.description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
{% assign flag='n' %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}