/**
 * My Style
 * -------------------------------------------------------------------------- */

 nav{
    .text {
        display: inline-block;
        white-space: nowrap; 
        width: 100%; 
        overflow: hidden;
        text-overflow:ellipsis;
    }
 } 

 .vp-doc div[class*='language-']{
    margin: 0 0;
    border-radius: 5px;
 }