---
layout: default
---

{% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %}

<!-- / .banner -->
    <header class="text-center">
        <h1> {{ page.title }}</h1>
    </header>
 <section class="container content">
        <div class="columns">
            {% if page.title == "About" %}
            <div style="text-align: center;">
            {% endif %}
             {% if page.title != "About" %}
            <div class="column two-thirds" >
            {% endif %}

                <article class="article-content markdown-body" >
                    {{ content }}
                </article>
                <div class="share">
                    {% include sns-share.html %}
                </div>
                <div class="comment">
                    {% include comments.html %}
                </div>
            </div>
            {% if page.title != "About" %}
            <div class="column one-third">
                {% include sidebar-search.html %}
                {% include sidebar-categories-cloud.html %}
                {% include sidebar-ad.html %}
                {% include sidebar-popular-repo.html %}
            </div>
            {% endif %}
        </div>
    </section>
    <!-- /section.content -->
